body {
    padding: 20px;
}

a {
    color: black;
    text-decoration: none;
}
h1 {
    margin-left: 250px;
}

.divPrin {
    width: 600px;
    margin: 20px;
    padding: 5px;
    border: solid black 2px;
    text-align: center;
}
.divPrin:hover {
    transition: 0.1s;
    scale: 1.05;
} 
.divPrin:active {
    scale: 1;
}


.divP1 {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.divP1 img {
    width: 250px;
    height: auto;
}
.divP1 img:active{
    scale: 1.01;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.bordeP1 {
    border: solid red 2px;
}